# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local .terraform directories
.terraform/

# Terraform lock files
.terraform.lock.hcl

# Terraform plan files
*.tfplan

# Terraform state files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Override files which are not meant to be committed
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive variable files
*.tfvars
*.tfvars.json

# CLI configuration files
.terraform.rc
terraform.rc
