:root {
}

.menu-item {
  font-size: 1rem;
  color: #ffffff !important;
}

.header {
  padding: 0 16px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 16px;
}

.navbar-left {
  display: flex;
  align-items: center;
  max-width: 75%;
}

.ant-menu.ant-menu-root {
  background-color: #000000 !important;
}

.ant-menu-item-selected::after {
  border-bottom-width: 2px !important;
  border-bottom-color: #ffffff !important;
}

.ant-menu-item:hover::after {
  border-bottom-width: 2px !important;
  border-bottom-color: #ffffff !important;
}

.footer {
  text-align: center;
  padding: 24px;
  color: #ffffff;
  background-color: #000000;
  margin-top: 24px;
}

.ant-drawer-close {
  color: white !important;
}
