* {
  box-sizing: border-box;
}

/* Default styles for html and body */
html {
  line-height: 1.5;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #888888;
  background-color: #ffffff;
  font-family: 'Times New Roman', Times, serif !important;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.875rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}
